name: Lint PR Title

on:
  workflow_call:

permissions:
  pull-requests: write
  statuses: write

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - id: lint-title
        uses: amannn/action-semantic-pull-request@v6
        with:
          requireScope: false
          wip: true
          types: |
            build
            chore
            doc
            feat
            fix
            perf
            refactor
            revert
            security
            style
            test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: marocchino/sticky-pull-request-comment@v2
        # When the previous steps fails, the workflow would stop. By adding this
        # condition you can continue the execution with the populated error message.
        if: always() && (steps.lint-title.outputs.error_message != null)
        with:
          header: pr-title-lint-error
          message: |
            We require pull request titles to follow the [PR Title Specification](https://github.com/DecisiveAI/changelogs?tab=readme-ov-file#pull-request-title) and it looks like your proposed title needs to be adjusted.

            Details:

            ```
            ${{ steps.lint-title.outputs.error_message }}
            ```

      # Delete a previous comment when the issue has been resolved
      - if: ${{ steps.lint-title.outputs.error_message == null }}
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: pr-title-lint-error
          delete: true
